@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.2s;
}

:root {
  --color-primary: #3563e9;
  --color-secondary: #90a3bf;
  --color-secondary-dark: #596780;
  --color-black: #1a202c;
  --color-white: #fff;
  --color-border: rgba(195, 212, 233, 0.4);
  --bg-color: #f6f7f9;
}

body {
  background-color: var(--bg-color);
  height: 100dvh;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--color-white);
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}

.header-info {
  display: flex;
  align-items: center;
  column-gap: 64px;
}

.header-actions {
  display: flex;
  column-gap: 20px;
}

.header-actions > button {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-secondary);
}

.header-actions > button:hover {
  color: var(--color-white);
  border-color: var(--color-white);
  background-color: var(--color-secondary);
}

.header-actions > div > img {
  width: 44px;
  height: 44px;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-primary);
}

.like {
  cursor: pointer;
}

.search {
  width: 300px;
}

.search > input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 70px;
}

.search > input::placeholder {
  color: var(--color-secondary-dark);
}

.aside {
  box-sizing: border-box;
  background-color: var(--color-white);
  width: 20vw;
  height: 100%;
  padding: 32px;
}

.aside > span {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-top: 56px;
  display: inline-block;
}

.aside > span:first-of-type {
  margin-top: 0;
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 28px;
}

.filter-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.filter-item > input {
  width: 20px;
  height: 20px;
  border-radius: 30px;
}

.filter-item > label {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: var(--color-secondary-dark);
}

.price-range {
  width: 100%;
}

.price-range > input {
  width: 100%;
  margin-top: 18px;
}

.main {
  width: 80vw;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main-content {
  height: 100%;
  display: flex;
}

.cars {
  width: 100%;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
}

.car-item {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 52px;
  width: 25%;
}

.car-header {
  display: flex;
  justify-content: space-between;
}

.car-name {
  display: flex;
  flex-direction: column;
}

.car-name > strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-black);
}

.car-name > small {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-secondary);
}

.car-photo {
  max-width: 272px;
  min-width: 100px;
}

.car-photo > img {
  width: 100%;
  object-fit: cover;
}

.car-footer {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--color-secondary);
}

.price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-info > strong {
  font-weight: 700;
  font-size: 20px;
}

.price-info > strong > span {
  font-size: 14px;
  color: var(--color-secondary);
}

@media screen and (max-width: 1272px) {
  .aside {
    display: none;
  }
  /* .aside {
    width: 300px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #3563e9;
  }
}
